{% extends 'base.html' %}

{% block title %}
{{ category['name'] }} - My Bookmarks
{% endblock %}

{% block header %}
<div>
  <a class='h3'>{{ category['name'] }}</a>
  <a class='btn btn-link' href="/category/edit/{{ category['id'] }}"{% if category['id'] <= 0 %} style='visibility:hidden'{% endif %}><i class='material-icons'>edit</i></a>
</div>
<a class='btn btn-primary' href="/bookmark/add{% if category['id']>0 %}?category_id={{ category['id'] }}{% endif %}">Add Bookmark</a>
<p>
{% endblock %}

{% block content %}
<div class='table-responsive'>
  <table class='table table-sm'>
    <thead>
      <tr>
        <th scope='col'>Bookmark</th>
        <th scope='col'>URL</th>
        <th scope='col'>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='mybookmarks'>
      {% for bookmark in bookmarks %}
      <tr>
        <td>{{ bookmark['bookmark'] }}</td>
        <td><a href="{{ bookmark['url'] }}" target='_blank'>{{ bookmark['url'] }}</a></td>
        <td>{{ bookmark['category'] }}</td>
        <td><a href="/bookmark/edit/{{ bookmark['id'] }}"><i class='material-icons'>edit</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(function () {
    $('#mybookmarks').sortable({
      update: function (event, ui) {
        var orig = ui.item.find('td')[0].textContent;
        if (ui.item.prev().length != 0) {
          var dest = ui.item.prev().find('td')[0].textContent;
        } else {
          dest = '#TOP_POSITION#';
        };
        $.post('/reorder', { orig: orig, dest: dest });
      }
    });
  });
</script>
{% endblock %}
